
$td-width: 100px;

.TicTacToe {
    table {
        border: 2px black solid;

        td {
            border: 2px black solid;
            width: $td-width;
            height: $td-width;
            text-align: center;
            vertical-align: middle;
            font-size: 50px;
            font-weight: bold;
        }
    }

}